/* t³usta */
#font-tlusty {
	font-family: 'Berkshire Swash', cursive;
}
/* ciasna */
#font-waski {
	font-family: 'Romanesco', cursive;
}
/* ³adne S */
#font-s {
	font-family: 'Parisienne', cursive;
}
/* capitalik */
#font-caps {
	font-family: 'Patrick Hand SC', cursive;
}
/* pisana */
#font-reka {
	font-family: 'Marck Script', cursive;
}
/* normalna */
#font-norma {
	font-family: 'Quintessential', cursive;
}